@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@500;600;700&display=swap");

.font-arima {
  font-family: "Arima", system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}

html, body, #root { height: 100%; }
